---
import "../assets/styles/app.scss";
import "@fontsource-variable/montserrat";
import "@fontsource-variable/open-sans";

type Props = { pageTitle: string; pageDescription: string };

const { pageTitle, pageDescription } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{pageTitle}</title>
    <meta name="description" content={pageDescription} />
    <link rel="icon" href="/favicon.svg" type="image/x-icon" />
    <meta property="og:site_name" content="Bakersfield Technology" />
    <meta property="og:description" content={pageDescription} />
    <meta property="og:locale" content="en_US" />
    <meta property="og:title" content={pageTitle} />
    <meta property="og:url" content="https://bakersfieldtechnology.com" />
    <meta
      property="og:image"
      content="https://bakersfieldtechnology.com/og-image.jpg"
    />
    <script src="../assets/scripts/app.ts"></script>
  </head>
  <body>
    <div>
      <slot />
    </div>
  </body>
</html>
